<div class="alert alert-secondary px-3 py-2 border-0 d-flex flex-between-center">
    <div>
        Logs for <span data-bind="text: organization.name"></span> organization are currently limited because the number of requests included in the <a href="#" data-bind="attr: { 'href': organization.navigation.billing }"><span data-bind="text: usage.limits.plan.displayName"></span> plan</a> has been exceeded.
        The plan will reset on <time data-bind="attr: { 'datetime': usage.limits.to, 'title': usage.limits.to }, text: APP.formatDateTime(usage.limits.to, 'dd-LL-yyyy')"></time>.
    </div>
</div>