<div class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-body-tertiary">
                <div class="modal-title">Select request</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-requests-table-container></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-falcon-default" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>