<ul data-bind="foreach: items" class="list-unstyled row row-cols-lg-2">
    <li>
        <div class="d-flex align-items-center cursor-default">
            <div class="text-truncate">
                <a href="#" class="link-800" data-search-requests data-bind="text: $root.exceptionTypeDisplayText(exceptionType), attr: { 'title': 'Search requests with ' + exceptionType }"></a>
                <span class="d-none" data-search-query data-filter-field="ExceptionType" data-filter-operator="EqualTo" data-sort-field="StartDateTime" data-sort-direction="desc" data-bind="attr: { 'data-requests-url': $parent.requestsUrl }">
                    <textarea data-bind="value: exceptionType"></textarea>
                </span>
            </div>
            <div class="ms-3">
                <div class="text-truncate" data-bind="text: APP.formatNumeral(count, count > 1000 ? '0.0a' : '0,0')"></div>
            </div>
        </div>
    </li>
</ul>
