<div class="col-xl-6">
    <a href="#" class="list-group-item list-group-item-action" data-open-user data-bind="attr: { 'data-application-id': applicationId, 'data-user-name': user.name }">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="/img/emptyDot.png" class="rounded-circle" data-bind="attr: { 'src': APP.generateEmailAddressAvatar(user.name, 64) }" width="36" height="36" />
            </div>
            <div class="text-truncate">
                <div class="text-truncate">
                    <time data-time-ago data-bind="text: lastSeen, attr: { 'datetime': lastSeen, 'title': APP.formatDateTime(lastSeen) }"></time>
                </div>
                <div class="text-truncate" data-bind="text: user.name"></div>
            </div>
        </div>
    </a>
</div>
