<div class="card-header bg-body-tertiary d-flex flex-between-center py-2">
    <h6 class="mb-0">
        <a href="#" class="fw-medium" data-bind="text: organization.name, attr: { 'href': organization.navigation.configuration }"></a>
    </h6>
    <div class="ms-auto">
       
    </div>
</div>
<div class="card-body py-3">
    <span>
        <span class="align-top">no data has been received</span>
        <span class="badge rounded-pill bg-danger align-top" style="font-size: 4px;">&nbsp;</span>
    </span>
</div>
